*{
    margin: 0px;/*margin externo*/
    padding: 0px;
}

body{
    padding: 40px;

}

.caja{
    display: block;
    width: 250px;
    height: 250px;
    background-color: lightblue;
    border: 10px solid red;
    margin: 15px;
    margin-top: 15px;
    margin-bottom: 40px;
    margin-left: 24px;
    margin-right: 10px;
    padding: 20px;/*margen interno*/
    float: left ;/*mover elementos a dertecha e izquierda*/
}

#cajas{

    max-width: 1035px;
    border: 1px solid black;


}
.caja p{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 230px;

}

.clearfix{

    float: none;/*este contenido no se mueve*/
    clear: both;/*limpia todos los flotados tanto a izquierda como a derecha y el texto se mantiene abajo*/

}