/*Fuentes*/
@font-face {
    font-family: "nevis";
    src: url("fonts/nevis.eot");
    src: url("fonts/nevis.eot?#iefix") format("embedded-opentype"),
        url("fonts/nevis.woff?#iefix") format("woff"),
        url("fonts/nevis.ttf?#iefix") format("truetype"),
        url("fonts/nevis.svg?#iefix") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "fajala";
    src: url("fonts/FjallaOne-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "iconos";
    src:url("fonts/websymbols-regular-webfont.svg#WebSymbolsRegular")format('svg'),
       url("fonts/websymbols-regular-webfont.eot");
    src:url("fonts/websymbols-regular-webfont.eot?#iefix") format("embedded-opentype"),
        url("fonts/websymbols-regular-webfont.woff")format("woff"),
        url("fonts/websymbols-regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/*Estilos generales*/
* {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url(../img/paven.png);
    /* con (..)salimos de la carpeta css y ponemos la imagen de fondo*/
}

a {
    color: #529125;
    text-decoration: none;
}

a:visited {
    /*cuando se visite el enlace, tendrá ese color*/
    color: #529515;
}

a:hover {
    color: #285616;
}

.icon{
    font-family: "iconos";
    float: left;
    margin-right: 5px;
    margin-top: -2px;
}

.clearfix{
    float: none;
    clear: both;
}

/*FORMULARIOS*/
input[type="text"],
input[type="email"],
input[type="password"],
input[type="text"],

select {
    border: 1px solid #c9c9c9;
    box-shadow: 0px 0px 2px #ccc;
    background: white;
    padding: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: gray;
    transition: all 300ms;
}

input[type="text"]:focus,
/*focus se usa al picar dentro del input*/
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,

select:focus {
    border: 1px solid #70b231;
    color: black;
}

input[type="button"],
input[type="submit"],
input[type="reset"],

button {
    display: block;
    border-radius: 2px;
    border: 1px solid green;
    width: 60px;
    color: white;
    padding: 3px;
    background-color: #70b231;
    cursor: pointer;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,

button:hover {
    box-shadow: 0px 0px 2px gray;
}

input[type="button"]:active,
/*efectos al pulsar un botón*/
input[type="submit"]:active,
input[type="reset"]:active,

button:active {
    box-shadow: 0px 0px 2px gray inset;
    text-shadow: 0px 0px 1px #ccc;
}




#cabecera {
    min-width: 1024;
    /*ancho mínimo*/
    width: 100%;
    height: 250px;
    margin: 0px auto;
}


#header a {
    text-decoration: none;
}

#header #logotipo {
    width: 770px;
    margin: 0px auto;
    padding-top: 20px;
}

#header #logotipo img {
    display: block;
    text-align: center;
    width: 140px;
    margin: 0px auto;
}

#header h1 {
    text-align: center;
    font-size: 40px;
    font-family: "nevis";
    text-transform: uppercase;
    color: #70b231;
    letter-spacing: 4px;
    margin-top: 10px;
    text-shadow: 0px 2px 1px #333333;
    transition: all 300ms;
}

#header h1:hover {
    text-shadow: 0px 2px 1px #333333, 0px 0px 4px #70b231;
}

#header h1 a {
    color: #70b231;
}

/*BARRA DE NAVEGACION*/

#menu {
    width: 100%;
    background-color: #333;
    height: 40px;
    font-family: sans-serif;
    font-size: 14px;
    box-shadow: 0px 0px 2px gray;
}


#menu ul {
    list-style: none;
    margin: 0px auto;
    width: 1090px;
}

#menu>ul>li {
    line-height: 40px;
    float: left;
    border-right: 1px solid gray;

}

#menu>ul>li a {
    display: block;
    text-decoration: none;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

#menu>ul>li>a:first-child {
    border-left: 1px solid gray;
    /*añadimos borde izquierdo al primer enlace*/

}

#menu>ul>li:hover {

    background-color: #70b231;
    box-shadow: 0px 0px 4px green inset;
}


#menu>ul>li>ul {
    display: none;
    /*ocultamos el menú*/
    position: absolute;
    /*no desfigura la web cuando aparece*/
    width: 160px;
    box-shadow: 0px 2px 2px gray;
    z-index: 1;
    /*se superpone al resto de elementos*/
}

#menu ul>li:hover>ul {

    display: block;


}

#menu ul>li:hover>ul>li {
    display: block;
    background-color: lightgray;
    border-bottom: 1px solid gray;
    padding: 8px;
    line-height: 25px;
    font-size: 13px;
    transition: all 300ms;
}

#menu ul>li:hover>ul>li:hover {
    box-shadow: 0px 0px 6px gray inset;
}

#menu ul>li:hover>ul>li a {
    color: black;
    font-weight: bold;
}

/*CONTENIDO*/

#content {
    width: 1250px;
    min-height: 1100px;
    margin: 0px auto;
}

/*BARRA LATERAL*/

#barralateral {
    width: 200px;
    float: left;
    margin: 30px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 2px #ccc;
    font-family: sans-serif, Arial, Helvetica, sans-serif;

}

.aula1 {
    color: #0c73f2 !important;
}

.aula2 {
    color: #9b2422 !important;
}

.profesor {
    color: #d69d2a !important;
}

#barralateral .widget {

    display: block;
    margin: 5px auto;
    width: 180px;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    border-bottom: 1px dashed #333333;
}

#barralateral .widget:last-child {
    margin-bottom: 20px;

}

#barralateral h3 {
    display: block;
    width: 100%;
    color: #333333;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    background: #f2f3f2;
    border-bottom: 1px solid #ccc;
    border-left: none;
    border-right: none;
    margin-bottom: 15px;

}

#barralateral li {
    margin-top: 8px;
    margin-bottom: 5px;
    margin-left: 20px;
    list-style: square;
}

/*FORMULARIOS BARRA LATERAL*/
#barralateral div label,
#barralateral div input[type="text"],
#barralateral div input[type="email"],
#barralateral div input[type="password"],
#barralateral div a {
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
}

#barralateral div button {
    margin-top: 5px;
    margin-bottom: 10px;
    margin: 0px auto;

}

#barralateral input,
#barralateral label {
    margin: 0px auto;
    text-align: center;
}

/*SECCIONES*/

#secciones {
    float: right;
    width: 75%;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    margin-right: 20px;
}

#secciones .titulo {
    font-size: 24px;
    margin-bottom: 5px;
    font-family: "fajala";
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    margin-top: -20px;
}

#secciones section {
    margin-top: 40px;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 4px #c9c9c9;
    color: #333;
    font-size: 16px;
    overflow: hidden;

}

#secciones article {
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#secciones .fecha {
    color: gray;
    font-size: 14px;
}

.stickerUno {
    position: absolute;
    margin-top: -38px;
}

.stickerDos {
    position: absolute;
    margin-left: 860px;
    margin-top: -38px;
}


/*PIE DE PAGINA*/

#historial{
    float: right;
    margin-top: 20px;
    font-family: sans-serif;
    margin-right: 20px;
}
#footer{
    width: 100%;
    margin: 0px auto;
    text-align: center;
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #333333;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    box-shadow: 0px 0px 2px gray;
}